langchain
langchain-community
langchain-core
python-dotenv
langchain-ollama
streamlit
langchain_groq
ipykernel
pypdf
pymupdf
langchain-text-splitters
faiss-cpu
langchain-chroma
chromadb
langchain_huggingface
sentence_transformers
arxiv 
wikipedia
duckduckgo-search
pathlib
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube-transcript-api
unstructured
pytube
numexpr
huggingface-hub
gradio